/* Style Css */
:root {
    --primary-color: #154360;
    --secondary-color: #bff1f2;
    --tertiary-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Style Start */
header {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 10px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: 500;
}

.nametag {
    background-color: var(--secondary-color);
    padding: 5px 20px 5px 40px;
}

.hero-text {
    background-color: var(--secondary-color);
    padding: 5px 10px 5px 10px;
}



header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
    
}

header nav ul li a {
    color: var(--secondary-color);
    text-decoration: underline;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}

.about-me-link {
    border-bottom: 3px solid;
    text-decoration: none;
    padding: 10px;
}
.work-link {
    border-bottom: 3px solid;
    text-decoration: none;
    padding: 10px;
}
.contact-me-link {
    border-bottom: 3px solid;
    text-decoration: none;
    padding: 10px;
}

.resume-link {
    border-bottom: 3px solid;
    text-decoration: none;
    padding: 10px;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    background-image: url("../images/portfolio-hero.webp");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    font-weight: 500;
}
/* Hero Style End */

/* Generic Style Start */
 section {
    padding: 100px;
}

.section-title {
    font-size: 30px;
    margin: 10px 5px 25px 25px;
    width: 50%;
    height: auto;
    display: flex;
}

/* Generic Style End */

/* About Me Style Start */
.about-me {
    display: flex;
}

.about {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
}

div p {
    padding-bottom: 20px;
    text-align: left;
    margin: 5px auto 5px 50px;
    line-height: 1.5;
    display: flex;
    border-left: 3px solid;
    padding-left: 30px;
    padding-right: 40px;
}
/* About Me Style End */

/* Work Style Start */
.work {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.work-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    border-left: 3px solid;
    padding-left: 10px;
}

.work-grid-container {
    background: var(--secondary-color);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 1.2rem;
}

.work-grid-item {
    padding: 15px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work-grid-item.side {
    grid-column: 3 / span 2;
}

.work-grid-item.bottom {
    grid-row: 3 / span 2
}

.work-grid-item.surf {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
/* Work Style End */

/* Contact Me Style Start */
.contact {
    display: flex;
    justify-content: space-between;
    text-align: right;
    
}

.contact-info {
    margin: 5px auto 15px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    border-left: 3px solid;
    padding-left: 40px;
}

.contact-me {
    border-bottom: 3px solid;
    text-decoration: none;
    padding: 10px;
}
/* Contact Me Style End */

/* separate padding and borders by adding class to each individual element
/* border-bottom, padding, and text-decoration selectors
*/